body{
    position: absolute;
}

nav.footer{
    position: fixed;
    bottom: -4%;
    width: 100%;
}

nav.footer ul.socials{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(44, 90, 58, 0.5);
}

nav.footer ul.socials li{
    list-style-type: none;
    padding: 20px;
}

nav.footer ul.socials li a{
    text-decoration: none;
    font-family: dosis;
}

img.icon{
    margin-top: -10px;
    height: 75px;
}

@media (max-width: 425px) {

    nav.footer ul.socials{
        height: 10%;
        padding-left: 0;
    }

    nav.footer ul.socials li{
        padding: 10px;
        margin-top: 1%;
    }

    img.icon{
        height: 50px;
    }

}