body.newpic{
    background-image: url(https://res.cloudinary.com/dkhiieq9p/image/upload/v1611091384/4a_uvzw8j.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.about{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
    margin: 10% auto;
}

div.about > h2{
    color: white;
    margin: 20px auto;
    text-align: center;
    font-family: poppins;
}

div.about > p{
    color: white;
    text-align: center;
    padding: 10px 100px;
    font-size: 20px;
    line-height: 25px;
}