div.contact-form{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10%;
    width: 40%;
    height: 400px;
    margin: auto;
    padding-bottom: 1%;
}

div.contact-form h1{
    text-align: center;
}

div.contact-form form.form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.contact-form form.form label.text-muted{
    margin: 15px;
}

div.contact-form form.form .text-primary{
    width: 250px;
    margin: 15px;
}

div.contact-form form.form .text-primary:nth-of-type(3){
    width: 500px;
}

input.text-primary.form-control{
    width: 60%;
}

div.form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

button.btn.btn-secondary{
    font-family: roboto;
    font-size: 120x;
    color: rgba(255, 255, 255, 1);
    height: 40px;
    width: 100px;
    background-color: rgba(38, 88, 59, 0.5);
    border: none;
    margin: 5px 200px;
    transition: all 2s;
}

textarea.text-primary.form-control{
    height: 100px;
    width: 200px;
}

button.btn.btn-secondary:hover{
    background-color: rgba(25, 51, 36, 1);
}

@media (max-width: 425px) {

    form{
        width: 100%;
    }

    div.form-group{
        width: 75%;
        margin: 0 ;
    }

    div.contact-form{
        width: 95%;
        margin: 0 auto;
    }

    div.contact-form h1{
        font-size: 20px;
    }

    div.contact-form form.form .text-primary{
        width: 400px;
    }

    input.text-primary.form-control{
        width: 75%;
    }
}