nav.header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(94, 155, 94, 0.5);
}

nav.header h1.title{
    font-size: 30px;
    font-family: petit formal script;
}

nav.header ul.navigation{
    display: flex;
    justify-content: space-between;
}

nav.header ul.navigation > li {
    list-style-type: none;
    padding: 20px;
    font-family: roboto;
}