@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

nav.header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(94, 155, 94, 0.5);
}

nav.header h1.title{
    font-size: 30px;
    font-family: petit formal script;
    margin: 2% 2%;
    background-color: transparent;
    box-shadow: none;
    width: 30%;
}

nav.header ul.navigation{
    display: flex;
    justify-content: space-between;
}

nav.header ul.navigation > li {
    list-style-type: none;
    padding: 20px;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
}