div.media h1{
    text-align: center;
    font-family: raleway;
    color: rgb(127, 180, 146);
    background-color: rgba(24, 31, 26, 0.5);
    border-radius: 20%;
    box-shadow: 10px 10px 10px 5px rgba(24, 31, 26, 0.5);
    width: 20%;
    margin: 2% auto;
}

div.youtube-map{
    margin: 5% auto;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

div.youtube-clip{
   width: 40%;
   margin: 0.5%;
   background-color: rgba(150, 219, 176, 0.5);
   border-radius: 20%;
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


@media (max-width: 425px) {
    
    h1.perf{
        font-size: 20px;
        text-align: center;
        padding-right: 30px;
    }

    div.youtube-map{
        height: 90%;
        width: 100%;
    }

    div.youtube-clip{
        width: 60%;
    }

    div.youtube-clip > h2{
        font-size: 15px;
    }

}