div.media h1{
    text-align: center;
    font-family: dosis;
}

div.youtube-map{
    margin: 5% auto;
    height: 90%;
    width: 97%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

div.youtube-clip{
   margin: 10px;
   background-color: rgba(150, 219, 176, 0.5);
   border-radius: 20%;
   padding: 10px;
}