body{
    background-image: url(https://res.cloudinary.com/dkhiieq9p/image/upload/v1605558106/1_pvtzi2.jpg);
    background-color:rgba(59, 119, 64, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div.front{
    margin: 30% auto;
    z-index: 500;
}

div.front > h1{
    color: rgb(134, 179, 141);
    margin: 25px auto;
    text-align: center;
    font-family: petit formal script;
    z-index: 100;
}


div.front > button{
    display: block;
    margin: 0 auto;
    border: none;
    width: 150px;
    background-color: rgba(82, 133, 86, 0.5);
    border-radius: 20%;
    height: 60px;
    font-size: 20px;
    font-family: roboto;
    transition: all 2s;
    z-index: 100;
}

div.front > button:hover{
    transform: scale(1.1);
}

div.welcome{
    border-radius: 20%;
    height: 200px;
    width: 400px;
    margin: 25% auto;
    background-color: rgba(255,255,255,0.2)
}

div.welcome > h1, div.welcome > p{
    text-align: center;
}