body{
    background-image: url(https://res.cloudinary.com/dkhiieq9p/image/upload/v1605556721/2_cnqoaq.jpg);
    background-color:rgba(59, 119, 64, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

div.cover{
    width: 50%;
    margin: 0 auto;
    border-radius: 10%;
 
    z-index: 100;
}

div.front{
    margin: 30% auto;
    width: 50%;
}

div.front > h1{
    color: rgb(168, 202, 179);
    margin: 25px auto;
    text-align: center;
    font-family: petit formal script;
    z-index: 100;
}


div.front > button{
    background-image: url("https://res.cloudinary.com/dkhiieq9p/image/upload/v1611238743/sbt92grll1u24s4ebpba423a85_udd8vp.png");
    display: block;
    margin: 20% auto;
    border: none;
    width: 150px;
    background-color: transparent;
    border-radius: 20%;
    height: 60px;
    font-size: 25px;
    font-weight: 700;
    font-family: raleway;
    transition: all 2s;
}

div.front > button:hover{
    transform: scale(1.1);
}

div.welcome{
    border-radius: 20%;
    height: 200px;
    width: 400px;
    margin: 25% auto;
    background-color: rgba(255,255,255,0.2)
}

div.welcome > h1, div.welcome > p{
    text-align: center;
}

img.koru{
    height: 40%;
    opacity: 0.5;
    position: fixed;
    top: 35%;
    right: 40%;
    z-index: -100;

    -webkit-animation-name: spin 40s linear infinite;
    -moz-animation: spin 40s linear infinite;
    animation: spin 40s linear infinite;
}

@keyframes spin { 100% {-webkit-transform: rotate(360deg); transform:rotate(360deg); } }